<style>
* {
  box-sizing: border-box;
}

body{
	background-color: lightyellow;
}

h1 {
	margin: 25px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 175%;
	color: darkblue;
	text-transform: uppercase;
}

h2 {
  font-size: 125%;
  text-align: center
  font-weight: bold;
  font-family: Arial;
}

.container{
 position: relative;
 top:30px;
 margin: 0px 5px 5px 0px; 
 width: 100%;
}

.content{
  position: relative;
  top: 0;
  background-color: lightgray;
  margin: 20px;
  padding: 30px;
  border: 3px solid black;
}

.content p{
  margin-top: 50px;
  text-align: justify;
  font-family: Arial;
}


#Item1 {
  background-color: greenyellow;
  position: absolute;
  float: right;
  top: 0px;
  right: 0px;
  padding: 2px 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

#Item2 {
  background-color: yellow;
  position: absolute;
  top: 0px;
  right : 0px;
  padding: 2px 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

#Item3 {
  background-color: orange;
  position: absolute;
  top: 0px;
  right : 0px;
  padding: 2px 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}



/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;   
    width: 33.33%;
  }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;

  }
 .col-md-12 {
    width: 100%;
    margin-left: -10px;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}

</style>

